.page-container {
    position: absolute;
    margin: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #002f46;
    color: white;
    font-family: Arial Black, Gadget, sans-serif;
    overflow: hidden;
    display: grid;
    grid-template-rows: 10% 30% 60%;
}

.element {
    margin: min(1vw, 1vh);
    text-align: center;
}
.line-title {
    display: grid;
}

.line-info {
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.4%;
}
.line-info-column {
    display: grid;
    grid-template-rows: 30% 70%;
}
.logo {
    width: min(20vw, 30vh);
    transform: translate(0%, -53%);
    top: 50%;
    position: relative;
}
.line-data {
    display: grid;
    grid-template-columns: 6% 47% 47%;
}
.data-column {
    display: grid;
    grid-template-rows: 20% 40% 40%;
}


.gray {
    background-color: #7f7f7f;
}
.yellow {
    background-color: #b8b400;
}
.red {
    background-color: #e31c24;
}
.orange {
    background-color: #ff9933;
}
.blue-light {
    background-color: #009999;
}
.blue {
    background-color: #005f8e;
}



.rotated-container {
    max-width: 5vw;
}
.rotated-container .resizeable-text{
    transform: translate(0%, 0%) rotate(-90deg);
}

.text-center {
    text-align: center;
    margin: min(1vh, 0.6vw);
    display: flex;
    align-items: center;
    justify-content: center;
}