.page-container {
    position: absolute;
    margin: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #002f46;
    color: white;
    display: grid;
    grid-template-columns: 4.8vw 95.2vw;
    font-family: Arial Black, Gadget, sans-serif;
    overflow: hidden;
}
p{
    margin: 0;
}
.machine-list {
    display: grid;
    grid-template-columns: 11.9vw 11.9vw 11.9vw 11.9vw 11.9vw 11.9vw 11.9vw 11.9vw;
}
.left-bar-column {
    display: grid;
    grid-template-rows: 10vh 18vh 18vh 18vh 18vh 18vh;
}
.element {
    margin: 0.4vw;
}
.blue-l {
    background-color: #005f8e;
    width: 4vw;
}
.rotated-container{
    transform: translate(-25%, 50%);
    height: 100%;
    width: 8vw;
}

.rotated-header {
    transform: translate(0, -50%) rotate(-90deg);
    margin: 0;
    font-size: min(1.8vh, 1vw);
    text-align: center;
}

.machine-column{
    display: grid;
    grid-template-rows: 10vh 9vh 9vh 18vh 18vh 18vh 18vh;
}
.blue-t {
    background-color: #005f8e;
}
.machine-name {
    text-align: center;
    font-size: min(1.8vh, 1vw);
    top: 50%;
    transform: translate(0, -50%);
    position: relative;
}

.gray {
    background-color: #7f7f7f;
}
.green {
    background-color: #b8b400;
}
.red {
    background-color: #e31c24;
}
.orange {
    background-color: #ff9933;
}
.number-s {
    text-align: center;
    font-size: min(5vh, 3vw);
    top: 50%;
    transform: translate(0, -50%);
    position: relative;
}